.App {
  text-align: center;
  background-color: #1b1d2f;
}

.App .App-header {
  background-color: #1b1d2f;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0;
}

.App h1 {
  color: #ffc107;
  text-align: left;
  font-size: 4vw;
}

.App .mainImage {
  object-fit: cover;
}

.App footer {
  color: #c5d4ea;
}
