.Featured .interactiveSearch {
}

.Featured .mainImage {
  width: 100%;
  margin: 0;
  padding: 0;
}

.Featured .card {
  min-width: 300px;
}

.Featured .card-img {
  width: 70px;
  height: 100px;
  object-fit: contain;
}
