.Featured .mainImage {
  width: 1012px;
  height: 600px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.Featured {
  background-color: #f9f9fb;
  margin: 0;
  min-height: 566px;
  align-items: center;
}

.Featured .competitionName {
  color: #ec0d45;
}

.Featured .searchInput {
  min-width: 90px;
  max-width: 130px;
}

.Featured .searchButton {
  background-color: #ec0d45;
  min-width: 80px;
  max-width: 95px;
}

.Featured .searchForm {
  min-width: 170px;
  max-width: 225px;
  margin: 0 auto;
}
